{%extends 'base.html'%}
{%load static%}
{%block content%}

<!-- Introduction -->
<div class="intro" style="background-image: url('{{ settings_queryset.background_image.url }}')">
    <div class="container">
        <div class="units-row">
            <!-- <div class="unit-10">
                <img class="img-intro" src="{% static 'asserts/img/avatar.png' %}" alt="">
            </div> -->
            <div class="unit-90">
                <p class="p-intro">{{settings_queryset.title}}</p>
            </div>
        </div>
    </div>
</div>

<form method="POST", action='{% url "login_page" %}'>
    {% csrf_token %}
    <input type='text' name='username' value=''>
    <input type='password' name='password' value=''>
    <input type='submit' value='Login'>
</form>

{% endblock %}